.home-page {
  // max-width: 55%;
  
    .text-area {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
        // margin-left: 20px;
    }

    h1 {
        color: #fff;
        font-size: 56px;
        line-height: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
    
        &:before {
          content: '<h1>';
          font-family: 'La Belle Aurore', cursive;
          color: #0077B6;
          font-size: 18px;
          position: absolute;
          margin-top: -40px;
          left: -15px;
          opacity: 0.6;
        }
    
        &:after {
          content: '<h1/>';
          font-family: 'La Belle Aurore', cursive;
          color: #1c81b4;
          font-size: 18px;
          position: absolute;
          margin-top: 18px;
          margin-left: 20px;
          animation: fadeIn 1s 1.7s backwards;
          opacity: 0.6;
        }
    }

  h2 {
    color: #0a4a6c;
    font-family: 'Coolvetica';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3.5px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .contact-btn {
    font-family: 'Coolvetica';
    font-size: 20px;
    color: #90E0EF; 
    font-weight: 300;
    letter-spacing: 3px;
    text-decoration: none;
    border: 1.5px solid #90E0EF;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 25px;
    float: left;
    animation: fadeIN 1s 1.9s backwards;
    white-space: nowrap;

    &:hover {
      font-weight: 300;
      background-color: #90E0EF;
      color: #333;
      border: 1px solid #90E0EF;
    }
  }


  .spinning-photo {
    position: absolute;
    right: 10%;
    top:4%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
    animation: fadeIn 1s 1.5s backwards;
    animation-delay: 1.5s;
  }

  .photos {
    animation-name: spinFace;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    transform-style: preserve-3d;
    // transform-origin: 100px 100px;
    margin-left: calc(50% - 100px);
    margin-top: 180px;
    // position: absolute;

    div {
        position: absolute;
        height: 625px;
        width: 425px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 15px #51c7df;
        border-radius: 60%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .sunrise {
      transform: translateZ(0.1px);

      img {
        border-radius: 60%;
        border: 3px solid #fff;
        overflow: hidden;
        object-fit: cover;
        // object-position: top;
      }

    }

    .mountain {
     
      img {
        border-radius: 60%;
        border: 3px solid #fff;
        overflow: hidden;
      }

    }
    
    @keyframes spinFace {
      from, 
      
      to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      }
      50% {
        transform: rotateY(180deg);
      }
    }
  
  }

}
