.home-page {

    .text-area {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    h1 {
        color: #fff;
        font-size: 56px;
        line-height: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
    
        &:before {
          content: '<h1>';
          font-family: 'La Belle Aurore', cursive;
          color: yellow;
          font-size: 18px;
          position: absolute;
          margin-top: -40px;
          left: -15px;
          opacity: 0.6;
        }
    
        &:after {
          content: '<h1/>';
          font-family: 'La Belle Aurore', cursive;
          color: yellow;
          font-size: 18px;
          position: absolute;
          margin-top: 18px;
          margin-left: 20px;
          animation: fadeIn 1s 1.7s backwards;
          opacity: 0.6;
        }
    }

  h2 {
    color: #BFC0C0;
    font-family: 'Coolvetica';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 4px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .contact-btn {
    font-family: 'Coolvetica';
    font-size: 20px;
    color: #90E0EF; 
    font-weight: 300;
    letter-spacing: 3px;
    text-decoration: none;
    border: 1px solid #90E0EF;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 25px;
    float: left;
    animation: fadeIN 1s 1.9s backwards;
    white-space: nowrap;

    &:hover {
      font-weight: 300;
      background-color: #90E0EF;
      color: #333;
      border: 1px solid #90E0EF;
    }
  }
}
